html {
  font-size: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  background-color: $VeryDarkBlue;
  color: #fff;

  background-image: url(images/bg-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
}
